body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

#carCanvas {
  background: salmon;
}

#networkCanvas {
  background: #bcbcbc;
}

#verticalButtons{
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
}